.header {
	width: 100%;
	height: 295px;
	background: linear-gradient(92deg, #087990 0.12%, #055160 100%);
	text-align: center;
}

.header__title {
	padding: 68px 0px 0px 0px;
	color: var(--cyan-100, #cff4fc);
	font-size: 72px;
	font-weight: 700;
}

.header__text {
	padding: 4px 0px 0px 0px;
	color: var(--cyan-100, #cff4fc);
	font-size: 21px;
	font-weight: 400;
}

.emoji-search {
	display: flex;
	justify-content: center;
	position: relative;
	bottom: 32px;
}

.emoji-search__input {
	width: 820px;
	height: 64px;
	font-size: 24px;
	font-weight: 400;
	line-height: 21px;
	padding: 22px 0px 21px 32px;
	border: 1px solid var(--stroke-input, #ced4da);
	border-radius: 4px;
	background: var(--gray-white, #fff);
	outline: none;
}
